h3 Results
table.table.table-striped
    thead
        tr
            th Name
            th Description
            th Cost
            th Attack
            th Health
            th Durability
            th Set
            th Rarity
            th Artist
    tbody
        
        style.
            card {
                font-size: 20px;
                color: #000000;
            }
        style.
            misc {
                font-size: 14px;
                color: #000000;
            }
        style.
            flavor {
                font-size: 14px;
                color: #B20000;
            }
        style.
            race {
                font-size: 14px;
                color: #006B24;
            }
        style.
            class {
                font-size: 14px;
                color: #7A007A;
            }
        style.
            type {
                font-size: 14px;
                color: #009999;
            }
        style.
            cost {
                font-size: 16px;
                color: #3333CC;
            }
        style.
            att {
                font-size: 16px;
                color: #CC0000;
            }
        style.
            def {
                font-size: 16px;
                color: #009933;
            }
        style.
            dur {
                font-size: 16px;
                color: #999966;
            }
        style.
            rar {
                font-size: 16px;
                color: #FFD119;
            }
        
        tr
            td
                b
                    card= data.name
                if data.race
                    li
                        i
                            race= "Race: " + data.race
                if data.card_class
                    li
                        i
                            class= "Class: " + data.card_class
                if data.card_type
                    li
                        i
                            type= "Type: " + data.card_type
            td
                li
                    b
                        misc= data.description
                li
                    i
                        flavor= data.flavour_text
            td
                cost= data.cost
            td
                if(data.attack)
                    att= data.attack
                else
                    misc= "--"
            td
                if(data.health)
                    def= data.health
                else
                    misc= "--"
            td
                if(data.durability)
                    dur= data.durability
                else
                    misc= "--"
            td
                misc= data.set
            td
                rar= data.rarity
            td
                misc= data.artist


